@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes border-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.5);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.5);
  }
}

.animate-border-glow {
  animation: border-glow 1.3s infinite;
}

